@font-face {
    font-family: 'Wellfleet';
    src: url(../fonts/Wellfleet-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
}

body {
    font-family: Lato-Regular;
    background-size: contain;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-image: url(../images/bg.svg) !important;
}

body > .container {
    box-shadow: 0 0 7px #9eccd8;
    padding: 0 15px 0 15px;
}

.tile {
    height: 33% !important;
    max-height: 33% !important;
}

.tile:hover {
    cursor: pointer;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material_icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.container {
    margin-left: 5% !important;
    margin-right: 10% !important;
    width: 85% !important;
}

.floating-button-wrapper {
    position: absolute;
    right: 30px;
    top: 30px;
}

.carousel.carousel-slider.initialized {
    min-height: 100%;
}

.row.tiles div[class^="col"], div[class*=" col"] {
    padding: 0;
}

.row.tiles {
    margin-bottom: 0 !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.carousel-item .carousel-caption {
    position: absolute;
    color: lavender;
    font-weight: bold;
    top: 175px;
    padding-right: 20px;
    padding-left: 20px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 100%;
}

#carouselNews .carousel-caption {
    top: 140px;
}

.carousel-caption .text-heading {
    font-size: 32px;
    font-weight: normal;
}

.carousel-caption .text-body {
    font-size: 16px;
    font-weight: bold;
}
