footer.page-footer.transparent.center-align
    .container
        .row
          p.grey-text.text-center
            | Designed with&nbsp;
            i.material-icons.red-text favorite_outline
            | &nbsp;by&nbsp;
            a(href=designerPersonThreeSite) #{designerPersonThree}
