html
  include head
  body.form
    .container
      .row
          form
            .row.center-align
                h5 Which Exam Would You Like To Take?
            .row
                .col.s6
                    a.btn-large.waves-effect.waves-dark.orange.disabled(href='/login/cs101') <b>CS 101</b> EXAM
                        i.material-icons.right mode_edit
                .col.s6
                    a.btn-large.waves-effect.waves-dark.red(href='/login/cs201') <b>CS 201</b> EXAM
                        i.material-icons.right mode_edit
            .card
                .card-image
                    img(src='/images/alfred.jpg', height='50%')
      include ack
