.row
    .col.s12#all_questions.correction
        
.row
    .col.s6
        a.btn-large.waves-effect.waves-dark.blue#new_test.new_test(href='/quiz/' + choice) New Test
            i.material-icons.right mode_edit
    .col.s6
        a.btn-large.waves-effect.waves-dark.blue#logout.logout(href='/logout') Logout
            i.material-icons.right open_in_new
