.row
    .col.s12#all_questions
        
.row
    .col.s6
        a.btn-large.waves-effect.waves-dark.blue#new_test(href='quiz') New Test
            i.material-icons.right send
    .col.s6
        a.btn-large.waves-effect.waves-dark.blue#logout(href='logout') Logout
            i.material-icons.right send