html
  include head
  body.form
    include fab
    .container
      .row
          form(action='/loginPost/' + choice, method='get')
            .row
                .input-field.col.s12
                    input#first-name(placeholder='Enter Your Pin', value="LasisiForNassa", name='pin', type='text', class='validate')
                    label(for='pin') 
                        | PIN&nbsp;
                        b (LasisiForNassa)

            .row
                .col.s12
                    button.btn-large.waves-effect.waves-dark.blue(type='submit', value='submit') START EXAM
                        i.material-icons.right mode_edit
      include ack
