.row
    .col.s12
        .card
            .card-action#question_select.grey.lighten-2
            .card-content
              p#question_number - / 50
              span.card-title#question_text -
            .card-action.question_opts
              p
                input(type='checkbox', id='option_1')
                label(for='option_1') -
              p
                input(type='checkbox', id='option_2')
                label(for='option_2') -
              p
                input(type='checkbox', id='option_3')
                label(for='option_3') -
              p
                input(type='checkbox', id='option_4')
                label(for='option_4') -
              p
                input(type='checkbox', id='option_5')
                label(for='option_5') -
.row
    .col.s6
        button.btn-large.waves-effect.waves-dark.blue#previous Previous
            i.material-icons.left arrow_back
    .col.s6
        button.btn-large.waves-effect.waves-dark.blue#next Next
            i.material-icons.right arrow_forward
    .col.s6
        button.btn-large.waves-effect.waves-dark.blue#finish(style='display: none;') Finish
            i.material-icons.right arrow_forward
